body, html {
	margin: 0;
	width: 100%;
	height: 100%;
	background: #000;
	color: #fff;
	text-align: center;
	font-family: sans-serif;
	overflow: hidden;
}
#s {
	width: 100%;
	height: calc(100% - 85px);
}
h1 {
	max-width: 475px;
	margin: auto;
	padding: 6px 0;
	border-top: 2px #fff solid;
}
h2 {
	margin: 8px;
}
@media screen and (max-width:400px) { body { font-size: 10px } }
@media screen and (max-width:600px) and (min-width:400px) { body { font-size: 12px } }
@media screen and (max-width:800px) and (min-width:600px) { body { font-size: 14px } }
@media screen and (min-width:800px) { body { font-size: 15px } }
@media screen and (orientation:portrait) and (min-width:360px) { body { font-size: 12.5px } }
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
	border: 2px #fff solid;
	padding: 2.5px;
	width: 50%;
	max-width: 320px;
	color: #fff;
	background: transparent;
	margin: 4px auto;
	margin-right: 3px;
	font-size: 20px;
}
option { color: #000 }
select + div {
	margin-left: -25px;
	display: inline-block;
	pointer-events: none;
}
select + div b, select + div i {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	display: block;
}
select + div b {
	border-bottom: 5px solid #fff;
	margin-bottom: 3px;
}
select + div i { border-top: 5px solid #fff }
